<section class="centered">
  <div class="hero">
    <div class="hero__heading">MOVE</div>
  </div>
  <div class="centered">
    <h2 class="highlight">
      The Move2Earn App of Telegram
    </h2>
  </div>
</section>

<section>
  <div class="padded centered">
    Move is a Pokémon GO style Telegram mini app that rewards users with $move tokens for every kilometer
    they walk or run, using step and location tracking. Currently in development, Move is set to launch in September.
  </div>
  <div>
    <div class="centered" style="margin-top: 4rem;">
      <h2>Game Mechanics</h2>
    </div>
    <div>
      <h2 class="bullet">Interactive Map with Player Rewards</h2>
      <div>
        Move starts with a map and a character. As users walk and explore their surroundings, various reward items,
        like treasure chests, will appear on the map, offering the chance to walk up and collect the rewards.
      </div>

      <h2 class="bullet">Level-Up System</h2>
      <div>
        The more a user engages with the app - by walking and completing tasks - the more $move tokens they earn and the
        higher level they become. As their level increases, so does their earning rate per kilometer walked.
      </div>

      <h2 class="bullet">Leagues & Leaderboards</h2>
      <div>
        Each user is placed into a weekly league based on the amount of $move they've earned. At the end of the week,
        top players advance to a higher league, while the bottom players move down. Each league determines the bonus
        earned per kilometer walked.
      </div>

      <h2 class="bullet">User Profiles</h2>
      <div>
        Players can follow their friends and track their progress through user profiles. Each profile displays earnings
        and achievement stats, along with a unique and customizable avatar.
      </div>

      <h2 class="bullet">Daily Tasks and Achievements</h2>
      <div>
        To keep users engaged, a variety of daily tasks and achievements offer rewards that boost both $move earnings
        and the $move/km earning rate.
      </div>

      <h2 class="bullet">Marketplace</h2>
      <div>
        Users can buy and sell special clothes and items for their characters using TON NFTs, encouraging ongoing
        engagement and continued earning of $move tokens even after the TGE.
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded centered">
    <h2>
      Contact Us
    </h2>
    <div>
      Move is currently in development and set to launch in September. For investment opportunities, collaborations, or
      to request a working demo, contact us at <a href="mailto:klemen@mrbllab.com">klemen&#64;mrbllab.com</a> or via
      Telegram <a href="https://t.me/jovianbtc">&#64;jovianbtc</a>.
    </div>
  </div>
  <div class="copyright">Copyright © 2024 Marble Lab</div>
</section>
