@import "colours";

@font-face {
  font-family: "Monument Extended";
  src: url("https://storage.googleapis.com/static.mrbllab.com/fonts/monument-extended/MonumentExtended-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended";
  src: url("https://storage.googleapis.com/static.mrbllab.com/fonts/monument-extended/MonumentExtended-Ultrabold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  color: $brown;
  font-family: sans-serif;
  font-size: 1.2rem;
}

a {
  color: $brown;
}

h1 {
  font-family: "Monument Extended", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  padding: 0;
  margin: 0;
  color: $brown;

  &.highlight {
    background-color: $green;
    display: inline;
    line-height: 2rem;
  }
}

h2 {
  font-family: "Monument Extended", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 0;
  margin: 0;
  color: $brown;
  margin-top: 2rem;
  margin-bottom: 1rem;

  &.highlight {
    background-color: $green;
    display: inline;
    line-height: 2rem;
    padding: 0.15rem 1rem;
  }

  &.bullet {
    display: list-item;
    list-style-type: "★";
    padding-inline-start: 1ch;
    padding-inline-start: 0.5rem;
    margin-left: 1.25rem;
    margin-bottom: 1rem;
  }

  &::marker {
    color: $green;
    font-size: 1.5rem;
  }
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;

  .centered {
    text-align: center;
  }

  .padded {
    width: 75%;
  }
}

.hero {
  display: block;
  position: relative;
  background-position: center;
  background-image: url('https://storage.googleapis.com/static.mrbllab.com/images/move-website-hero.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  &__heading {
    font-family: "Monument Extended", sans-serif;
    font-weight: bold;
    color: $brown;
  }
}

@media (orientation: landscape) {
  .hero {
    width: 75vw;
    height: 75vh;

    &__heading {
      font-size: 15vw;
    }
  }
}

@media (orientation: portrait) {
  .hero {
    width: 75vw;
    height: 75vh;

    &__heading {
      font-size: 25vw;
    }
  }
}
